.statistics {
    padding: 5px;
}

.title {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.16;
    color: #292e2d;
    margin: 20px;
}

.statList {
    display: flex;
    justify-content: space-around;
    column-gap: 5px;
}

.item {
    padding: 5px;
    width: calc(580px / 5);
    border-radius: 5px;
    color: #292e2d;
}

.label,
.percentage {
    margin-left: 10px;
}

.percentage {
    font-weight: 500;
    font-size: 30px;
    line-height: 2;
}