.table {
    padding: 5px;
    text-align: center;
}

.tHead {
    color: #292e2d;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    height: 60px;
}

tBody {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    height: 60px;
}

.row {
    height: 40px;
}

.row:nth-child(2n + 1) {
    color: #292e2d;
    background-color: #fafafa;
}

.row:nth-child(2n) {
    background-color: #272c2e;
    ;
}